
.header-logo{
    text-decoration: none;
    color: #000;
}

.header-link {
    transition: 0.7s;
    text-decoration: none;
    color: #000;
    margin: 0 40px;
    padding: 5px 10px;
    width: 20%;
    text-align: center;
}

.header-link:hover{
    background-color: #b2ae7f;
    font-size: 20px;
    transition: 0.5s;
    border-radius: 5px;

}

.header-link:focus, .header-link:active{
    transition: 0.7s;
}

.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 150px;
}

.links-container {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 50%;
}

.hamburger {
    display: none;
}