.card-wrapper {
    padding: 0;
    margin-top: 15px;
    background-color: #CCC9A3;
    border-radius: 10px;
    width: 350px;
}

.product-image {
    width: 100%;
}

.product-name {
    font-size: 24px;
}

.product-description {
    font-size: 20px;
}

.product-price {
    position: absolute;
    font-size: 16px;
    right: 5%;
    top: 5%;
}

.products-text-container {
    padding: 5px 10px;
    height: 150px;
    position: relative;
}

@media (max-width: 1540px) {
    .card-wrapper {
        width: 300px;
    }
}

@media (max-width: 1220px) {
    .card-wrapper {
        width: 250px;
    }

    .product-price {
        position: relative;
        padding: 10px; ;
    }

    .product-name {
        font-size: 22px;
    }

    .product-description {
        font-size: 18px;
    }
}

@media (max-width: 998px) {
    .card-wrapper {
        width: 150px;
    }

    .product-name {
        font-size: 18px;
    }

    .product-description {
        font-size: 16px;
    }
}

@media (max-width: 778px) {
    .product-name {
        font-size: 16px;
    }

    .product-description {
        font-size: 14px;
    }
}