
.about-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.about-text-container {
    display: flex;
    width: 50%;
    align-items: center;
}

.about-text {
    width: 100%;
    font-size: 36px;
    margin: 0 50px;
}

.about-text-1 {
    text-align: right;
}

