.products-name-container {
    padding: 80px 0;
    text-align: center;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

.products-heading {
    font-size: 48px;
    font-weight: 400;
}

.products-description {
    font-size: 24px;
    font-weight: 400;
}

.products-slider {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
    padding-bottom: 20px;
    border-bottom: 2px solid #000;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.shop-btn {
    transition: 0.5s;
    background-color: #B2AE7F;
    border:  none;
    border-radius: 10px;
    font-size: 20px;
    margin: 10px;
    height: 40px;
    width: 90%;
}

.shop-btn:hover {
    transition: 0.5s;
    font-size: 22px;
}

@media (max-width: 1540px) {
    .products-heading {
        font-size: 36px;
    }

    .products-description {
        font-size: 22px;
    }


    .products-name-container {
        padding: 70px 0;
    }
}


@media (max-width: 1220px) {
    .products-heading {
        font-size: 32px;
    }

    .products-description {
        font-size: 22px;
    }


    .products-name-container {
        padding: 60px 0;
    }
}


@media (max-width: 998px) {
    .products-heading {
        font-size: 28px;
    }

    .products-description {
        font-size: 20px;
    }

    .products-name-container {
        padding: 40px 0;
    }
}

@media (max-width: 778px) {

    .products-slider {
        gap: 5px;
    }

    .shop-btn {
        margin: 5px 0;
        font-size: 16px;
    }
    .shop-btn:hover {
        font-size: 18px;
    }

    .products-heading {
        font-size: 24px;
    }

    .products-description {
        font-size: 18px;
    }


    .products-name-container {
        padding: 20px 0;
    }
}