.App{
    height: 100vh;
}
body {
    background-color: #f4f2dd;
    background-size: cover;
    background-attachment: fixed;
}
.container {
    max-width: 1540px;
    margin: 0 auto;
}


section {
    padding-bottom: 80px;
}

section:last-child {
    padding-bottom: 0;
}

.main-text {
    font-family: 'Kodchasan', sans-serif;
    font-size: 40px;
}

.primary-text {
    font-family: 'Slabo 13px', serif;
    font-size: 20px;
}
